
td {
  cursor: pointer;
}

tbody tr:hover {
  background-color: rgb(199, 170, 97);
  /* background-color: aquamarine; */
}

tbody tr {
  font-size: 12px;
}

thead tr {
  font-size: 14px;
}

.favorite-text {
  text-align:center;
  width: 100%;
  margin-top: 10px;
}

.tools-box {
  padding: 30px 0 30px 0;
}

.sort-btn {
  /* background-color: #fde253; */
  /* color: #f8f5f8; */
  /* font-weight: 600; */
  /* border: none; */
}

/* .rad {
  border-radius: 10px;
  border: 1px solid rgb(199, 170, 97);
} */
