/* global styles */

body {
  background-color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.body-color {
  background-color: #333;
}

/* .row {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
} */

/* .custom-link {
  color: #1a0dab;
  cursor: pointer;
} */

.multi_lines_text {
  white-space: pre-line;
}

/* .content-back-color {
  background-color: #51514b;
  color: #f8f5f8;
  title-color: #3cf
} */
